In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
data=pd.read_parquet("datos_modelo.parquet")

In [11]:
len(data[data["capitalizacion"]==1]),len(data[data["capitalizacion"]==2]),len(data[data["capitalizacion"]==3])

(390, 26, 17)

In [13]:
data

      instancia_id  token  token_id  punt_inicial  capitalizacion  pfinal
0                1     en     10110             0               1       0
1                1  ##cié     93977             0               1       0
2                1  ##rra     21084             0               1       0
3                1   ##lo     10715             0               1       0
4                1     en     10110             0               0       0
...            ...    ...       ...           ...             ...     ...
1340            50    ##s     10107             0               0       1
1341            50   está     11559             0               1       0
1342            50      a       169             0               0       0
1343            50     tu     13055             0               0       0
1344            50  cargo     15856             0               0       2

[1345 rows x 6 columns]