In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_parquet("datos_modelo.parquet")

In [3]:
len(data[data["capitalizacion"]==1]),len(data[data["capitalizacion"]==2]),len(data[data["capitalizacion"]==3])

(16704594, 4055063, 508035)

In [4]:
data

,instancia_id,token,token_id,punt_inicial,capitalizacion,pfinal
0,1,está,11559,0,1,0
1,1,sal,31119,0,0,0
2,1,##iendo,18426,0,0,0
3,1,la,10109,0,0,0
4,1,luna,44885,0,0,2
...,...,...,...,...,...,...
72512854,1948962,por,10183,0,0,0
72512855,1948962,fin,11826,0,0,2
72512856,1948963,sin,10795,1,1,0
72512857,1948963,compañía,23039,0,0,1
72512858,1948963,sí,18419,0,1,2